server:
  port: 8085
spring:
  data:
    elasticsearch:
      cluster-name: elasticsearch
      cluster-nodes: 192.168.133.128:9300
  application:
    name: search-service
  main:
    allow-bean-definition-overriding: true #//解决Feign远程调用服务因为业务需求出现在不同在接口上使用相同的服务名而引起报错
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
  instance:
    lease-renewal-interval-in-seconds: 5 # 每隔5秒发送一次心跳
    lease-expiration-duration-in-seconds: 10 # 10秒不发送就过期